{{#partial "content"}}

    <h1>Add a New Team</h1>
    <form action="/teams/new" method="post">
        <label for="description">Team Description</label>
        <input id="description" name="description" type="text">
        <button type="submit" class="btn btn-default">Go!</button>
    </form>

    {{#if editTeams}}
        <form action="/teams/update" method="post">
            <h1>Edit this Team!</h1>
            <select id="teamToEditId" name="teamToEditId">
                {{#each teams }}
                    <option value="{{id}}">{{description}}</option>
                {{/each}}
            </select>
            <br>
            <label for="description">Edit this team's description</label>
            <input id="description" name="description" type="text" placeholder="Enter a new description">
            <br>
            <label for="memberId">Update this team's member:</label>
            <select id="memberId" name="memberId">
                {{#each members}}
                    <option value="{{id}}">{{memberName}}</option>
                {{/each}}
            </select>
            <p>Don't see the right member?<a href="/members/new">Add a new one first.</a></p>

    {{else}}

            <form action="teams/new" method="post">
                <label for="name">Team name</label>
                <input id="name" name="name" type="text">
            </form>
            <buton type="submit" class="btn btn-default"></buton>

        {{#if members}}

                <label for="memberId">add a member to  this team:</label>

                <select id="memberId" name="memberId">

                    {{#each members}}
                        <option value="{{id}}">{{memberName}}</option> <!--what is going on here? -->
                    {{/each}}
                </select>
                <p>Don't see the right member?<a href="/members/new">Add a new one first.</a></p>
        {{else}}
                <h3> You'll need to add a member before you add a team. <a href="/members/new">Add one here.</a> </h3>
        {{/if}}

    {{/if}}

{{/partial}}

{{> layout.hbs}}
