{{#partial "content"}}

    {{#if editTeam}}
        <form action="/teams/update" method="post">
            <h1>Edit this Team!</h1>
            <select id="teamToEditId" name="teamToEditId">
                {{#each teams }}
                    <option value="{{id}}">{{description}}</option>
                {{/each}}
            </select>
            <br>
            <label for="description">Edit this team's description</label>
            <input id="description" name="description" type="text" placeholder="Enter a new description">
            <br>
            <label for="memberId">Update this team's member:</label>
            <select id="memberId" name="memberId">
                {{#each members}}
                    <option value="{{id}}">{{memberName}}</option>
                {{/each}}
            </select>
            <p>Don't see the right member?<a href="/members/new">Add a new one first.</a></p>

    {{else}}
            <h2>Add a new Team!</h2>

        <form action="/teams/new" method="post">
        {{#if members}}
                <label for="description">Team Description</label>
                <input id="description" name="description" type="text">
                <label for="memberId">add a member to  this team:</label>

                <select id="memberId" name="memberId">

                    {{#each members}}
                        <option value="{{id}}">{{memberName}}</option> <!--what is going on here? -->
                    {{/each}}
                </select>
                <p>Don't see the right member?<a href="/members/new">Add a new one first.</a></p>
        {{else}}
                <h3> You'll need to add a member before you add a team. <a href="/members/new">Add one here.</a> </h3>
        {{/if}}

    {{/if}}
        <button type="submit" class="btn btn-default">Go!</button>
    </form>
{{/partial}}

{{> layout.hbs}}
