{{#partial "content"}}
    <p>Team name:</p>
    <p>{{ team.teamName }}</p>
    <h5>Description:</h5>
    <p> {{ team.description }}</p>
    <h5>Team Details:</h5>
    <p>
        {{#if team.teamName }}
            <form action="/teams/{{teamId}}" method="post">
                <label for="name">to add a member to team {{teamname}} please enter a name?</label><br>
                <input id="name" name="name" type="text">
                <button type="submit" class="btn btn-default">Add team</button>
            </form>
        {{else}}
                <a href="/">Go Back</a>
        {{/if}}
    </p>
{{/partial}}

{{> layout.hbs}}