{{#partial "content"}}
    <p>Team name:</p>
    <p>{{ team.teamName }}</p>
    <h5>Description:</h5>
    <p> {{ team.description }}</p>
    <h5>Team Details:</h5>
    <p>
        {{#if team.teamName }}
            <p> {{teamName}} </p><br>
            <p> {{ description}} </p>
        {{else}}
                <a href="/">Go Back</a>
        {{/if}}
    <a href="/teams/{{team.teamId}}/update">Edit this team</a>
    </p>
{{/partial}}

{{> layout.hbs}}